<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>DSpace Repository Statistics</display-name>
    <description>Exposes simple object counts as XML.</description>

    <context-param>
        <description>Spring configuration files.</description>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/*.xml</param-value>
    </context-param>

    <listener>
        <description>Reads configuration.</description>
        <listener-class>org.dspace.app.util.DSpaceContextListener</listener-class>
    </listener>

    <listener>
        <description>Initializes the DSpace kernel.</description>
        <listener-class>
            org.dspace.servicemanager.servlet.DSpaceKernelServletContextListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>repository</servlet-name>
        <servlet-class>edu.iupui.ulib.dspace.RepositoryStatistics</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>repository</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
